// Esquema de colores

// Primer esquema de color
$White: #fff;
$Platinum: #e66767;
$Light-gray: #d1d1d1;

// Segundo esquema de color
$Fuzzy-wuzzy: #e56353;
$Ruddy-pink: #d76c69;
$Spanish-pink: #ecbcba;

// Tercer esquema de color
$Eerie-balck: #121619;
$Raisin-black: #222323;
$Nickel: #6c6e70;

// Tipografía
$Roboto: 'Roboto', sans-serif;
$Playfair: 'Playfair Display', serif;

// Peso de fuente $Roboto
$light-roboto: 300;
$regular-roboto: 400;

// Peso de fuente $Playfair
$regular-playfair: 400;
$black-italic: 900;

// Tamaño tipografía
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
