.navbar__bg {
  background-color: $Eerie-balck;
}

.text-fuzzy {
  color: $Fuzzy-wuzzy;
}


.logo-BarberShop {
  width: 40%;
  height: auto;
}

.pagination {
  background-color: $Light-gray;
  padding: 3rem;
  margin: 0;
}
